/* === [IMPORTS] === */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

/* === [GLOBAL] === */
body {
	margin: 0;
	position: fixed;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

#footer {
	position: absolute;
	right: 4vw;
	bottom: 5vh;
	user-select: none;
}

.footers, .footers a {
	font-weight: 600;
	display: inline-block;
	color: #e4e5e6;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.1px;
	user-select: none;
}

.footers a {
	text-decoration: underline;
}
