/* === [IMPORTS] === */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

/* === [GLOBAL] === */
html { cursor: none; }

body {
	margin: 0;
	position: fixed;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

footer {
	position: absolute;
	right: 4vw;
	bottom: 5vh;
}

h4.scie {
	display: inline-block;
	margin: 0;
	color: #e4e5e6;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.18rem;
	font-weight: 600;
	letter-spacing: 1.2px;
	user-select: none;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
}
